@media all and (max-width: 800px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
 .fecebook{
     width: 100%;
     margin-bottom: 100px;
 }
}