@media screen and (max-width: 670px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 1000px;
    }
    .title h1{
        font-size: 80px;
        width: 100%;
    }
    .content p{
        text-align: center;
        padding: 30px;
        width: 100%;
    }
 .fecebook{
     width: 100%;
     margin-bottom: 100px;
 }
}