@media screen and (max-width: 670px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
       
    }
    header{
        height: 40px;
    }
    .top h1{
        margin-top: 5px;
    }
    .title h1{
        font-size: 100px;
        width: 100%;
    }
    .title p {
        font-size: 20px;
    }
    .title h2{
        font-size: 20px;
    }
    .content p{
        text-align: center;
        padding: 20px;
        width: 95%;
        font-size: 20px;
    }
 .fecebook{
     width: 100%;
     margin-bottom: 100px;
     font-size: 20px;
     opacity: 0.9;
 }
 .facebook h3{
 font-size: 35px;
 }
 
 .facebook p{
     font-size: 30px;
 }
 .office{
     font-size: 15px;
 }
}