@charset "UTF-8";
li {
    list-style: none;
  }
body{
    background-image: url(https://www.pakutaso.com/shared/img/thumb/KUMAKICHI1027591_TP_V.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.title h1{
    font-size: 200px;
    padding: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.8;
    width: 100%;
}
.title p{
   font-size: 35px;
   margin-top: 100px;
   width: 100%;
}
.title h2{
   font-size: 35px; 
   margin-bottom: 300px;
   width: 100%;
}

.content p{
   text-align: center;
    font-size: 40px;
    background-color: black;
    width: 100%;
    color: #fff;
    opacity: 0.7;
    padding: 50px;
    
}

.facebook {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    background-color: blanchedalmond;
}
.btn {
    background-color:#3b5998;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}
.btn:hover{
    color: rgb(250, 3, 3);
}